body {
    background-color: #82CDFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.winner-title {
    height: 74px;
    width: 430px;
    background-color: #0099ff;
    color: #ffffff;
    font-size: 33px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px 12px 0 0;
}

.scoreboard-box {
    width: 950px;
    height: 148px;
    background-color: #0099ff;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 17px;
}

.scoreboard-player {
    color: #ffffff;
    font-size: 38px;
    font-weight: 700;
}

.scoreboard-score {
    width: 130px;
    height: 120px;
    background-color: #DBf1ff;
    border-radius: 17px;
    font-size: 104px;
    color: #0099ff;
    font-weight: 900;
    text-align: center;
    line-height: 108px;
}

.scoreboard-vs {
    color:#ffffff;
    font-weight: 900;
    font-size: 58px;
    margin: 0 20px;
    text-transform: uppercase;
}

.battle-field {
    margin-top: 56px;
    height: 414px;
    display: flex;

}

.button-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.button {
    background-color: #0099ff;
    border-radius: 8px;
    border: none;
    width: 220px;
    height: 80px;
    font-size: 44px;
    font-weight: 600;
    color: #dbf1ff;
    cursor: pointer;
    transition: 300ms;
}

.button:hover {
    background-color: #0099ff57;
    box-shadow: 3px 3px 10px  #035083;
}

.button:active {
    color: #063657;
    font-weight: 700;
}

.field-box {
    width: 1313px;
    height: 414px;
    background-color: #0099ff;
    margin: 0 19px;
    border-radius: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px;
    box-sizing: border-box;
}

.game-field {
    width: 464px;
    height: 345px;
    background-color: #dbf1ff;
    border-radius: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.move-image {
    width: 80%;
}

.field-vs {
    color: #ffffff;
    font-weight: 900;
    font-size: 90px;
    text-transform: uppercase;
}

.configuracao {
    margin-top: 22px;
}

.button-reset {
    margin-left: 101px;
}

.field-player-2{
    /* transform: rotate(180deg); */
    transform: scalex(-1);
} 

.start {
    background-color: #7b1ba1;
    box-shadow: 0 0 10px 5px #497c912d;
}

.start:hover {
    background-color: #7b1ba17c;
}